<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="120.2.7" targetFramework="net472" />
  <package id="CefSharp.Common" version="121.3.130" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="121.3.130" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="121.3.13" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="121.3.13" targetFramework="net472" />
  <package id="FMUtils.KeyboardHook" version="1.0.140.2145" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.59" targetFramework="net472" />
  <package id="IvanAkcheurov.NTextCat.Lib" version="0.2.1.1" targetFramework="net472" />
  <package id="System.Speech" version="8.0.0" targetFramework="net472" />
  <package id="VersOne.Epub" version="3.3.1" targetFramework="net472" />
</packages>